.section_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0, 0, 0, 0.692) 30%, rgba(199, 197, 202, 0.979) 66%);
}

.containner_contact h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

input {
    padding: 8px 20px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 13px;
}

label {
    font-size: 29px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    color: black;
    font-weight: bold;
}

textarea {
    font-size: 25px;
    border: none;
    border-radius: 13px;
}

button {
    margin-top: 8px;
    padding: 22px;
    font-size: 25px;
    border: none;
    border-radius: 13px;
    background-color: rgba(0, 128, 0, 0.479);
    cursor: pointer;
}

button:hover{
    background-color: green;
    padding-left: 60px;
    padding-right: 60px;
}

.option_container {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.658);
    color: brown;
}

.option1 {
    color: brown;
    font-size: 25px;
    font-weight: bold;
}

.option {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}