.container_header {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

.img_home {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 3px;
}

p {
    color: black;
    font-size: 20px;
    margin: 3px;
}

.container_whats,
.container_email,
.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_info h3 {
    margin-left: 19px;
}

.containner_login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.containner_login img {
    width: 29px;
    margin-right: 5px;
}

.login-modal {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(165, 42, 42, 0.507);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

span {
    color: brown;
    font-weight: bold;
    cursor: pointer;
}

.container_link_login {
    display: flex;
    justify-content: center;
    align-items: center;
}