section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 80px;    
    padding: 8px;
}

section h1 {
    padding: 12px;
}