.containner_footer {
    display: flex;
    justify-content: center;

}

footer {
    background-color: white
}

.container_payment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title_pay {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1D9EDF;
    width: 100%;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    margin-bottom: 9px;
}

.image_pay {
    width: 750px;
    height: 25vh;
    margin-bottom: 10px;
}